.carousel,
.slide {
    height: 30rem;
    color: white;
    width: 100%;
}

.carousel-caption {
    position: relative;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: left;
    margin-top: 2rem;
    left: 0;
    right: 0;
    padding-top: 10rem;
}
.carousel-indicators li {
    background-color: #00d395;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
    width: 0;
}
.green {
    color: #00d395;
}

@media only screen and (max-width: 992px) {
    .carousel-caption {
        font-size: 2rem;
        margin-top: 0.5rem;
        line-height: 3rem;
    }
}
